.Weather {
    padding: 20px;

    background-image: linear-gradient(to left top, hsl(69, 100%, 82%), hsl(179, 100%, 63%));
    color: hsl(0, 0%, 18%);

    display: grid;
    gap: 1em;
}
.Weather .Weather__img {
    justify-self: center;
}

@media (width > 40em) {
    .Weather {
        grid-template-columns: 1fr 1fr;
    }
    .Weather .Weather__img {
        grid-row: span 2;
    }
}